<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Notes App Tests">
    <test verbose="2" preserve-order="true"
          name="C:/Users/demir/IdeaProjects/playwright-api-framework/src/test/java/org/qafellas/tests/UsersTests.java">
        <classes>
            <class name="org.qafellas.tests.UsersTests">
                <methods>
                    <include name="shouldRegisterUser"/>
                    <include name="shouldViewUserProfile"/>
                    <include name="shouldEditUserProfile"/>
                    <include name="shouldDeleteUser"/>
                    <include name="shouldNotDeleteUser"/>
                </methods>
            </class>
            <class name="org.qafellas.tests.NotesTests">
                <methods>
                    <include name="shouldAddNote"/>
                    <include name="shouldViewSpecificNote"/>
                    <include name="shouldNOTViewInvalidNote"/>
                    <include name="shouldDeleteSpecificNote"/>
                    <include name="shouldAddNumbers"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>